html, body {
    width: 375px;
    margin: 0;
    padding: 0;
}

p {
    font-style: normal;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.locaton {
    font-size: 12px;
}

.display-name, 
.like-count,
span {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 16px 16px 17px 15px;
    border-bottom:1px solid #C6C6C6;
}

#logo-img {
    width: 127px;
    margin: 0;
}

address {
    padding: 10px 0px 0px 10px;
}

#user-img, .poster-img {
    width: 34px;
    border-radius: 50%;
    margin: 0;
}

address {
    display: flex;
    align-items: center;
    padding: 10px;
}

#address-container {
    align-items: center;
    margin-left: 7px;
}

.display-name, 
.location {
    margin: 0;
}

.post-img {
    width: 375px;
    height: 375px;
}

.interact-section {
    padding: 21px 0px 16px 10px;
}

.icon {
    width: 23.3px;
    margin-right: 2px;
}

.icon:hover {
    opacity: 50%;
}